{% load static %}
<link rel="stylesheet" href="{% static 'main.css' %}">


{% if request.user.is_active%}
    <h2>What's happening, <a href="/user/{{ user.username }}">{{ user.username }}?</a></h2>

    <div id="tweet_button"><a href="/tweet">Submit a Tweet</a></div>
    <div id="follow"><a href="/user_list">Find new followers</a></div>
    <div id="notification"><a href="/notification">Notifications {{ notification }}</a></div>
{% for tweet in tweets %}
    <div id="tweet_card">
    <p><a href="/user/{{ tweet.userprofile.username }}">{{ tweet.userprofile.username }}</a></p>
    <p>{{ tweet.datetime }}</p>
        <p><a href="/tweet/{{ tweet.id }}">{{ tweet.body }}</a></p>
    </div>
{% endfor %}


<h2><a href="/logout">logout</a></h2>
{% endif %}