{% load static from staticfiles %}
<link rel="stylesheet" href="{% static 'style.css' %}">


{% if request.user.is_active%}
    <h2>What's happening, <a href="/user/{{ user.username }}">{{ user.username }}?</a></h2>

    <h2><a href="/tweet">Submit a Tweet</a></h2>
{% for tweet in tweets %}
    <div id="tweet_card">
    <p>username: <a href="/user/{{ tweet.userprofile.username }}">{{ tweet.userprofile.username }}</a></p>
    <p>{{ tweet.datetime }}</p>
        <p><a href="/tweet/{{ tweet.id }}">{{ tweet.body }}</a></p>
    </div>
{% endfor %}
<h1><a href="/user_list">Find new followers</a></h1>

<h2><a href="/logout">logout</a></h2>
{% endif %}